<!DOCTYPE html>
<html>
  <head>
    <title>Realty Project</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone-no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'homes_manager', media: 'all' %>
    <%= javascript_include_tag 'homes_manager' %>
  </head>
  <body>
    <div id="page-loader">
      <div class="page-loader__logo">
        <%= image_tag "homes/uploads/logo_dark.png" %>
      </div>
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
    </div>
    <%= render "layouts/homes/header" %>
    <%= yield %>
    <%= render "layouts/homes/footer" %>
    <a href="#" class="back-to-top"><span class="ion-ios-arrow-up"></span></a>
    </div>
  </body>
</html>
