<!DOCTYPE html>
<html>
  <head>
    <title>Realty Project</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone-no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'homes_manager', media: 'all' %>
    <%= javascript_include_tag 'homes_manager' %>
  </head>
  <body>
    <!-- <div id="page-loader">
      <div class="page-loader__logo">
        <%= image_tag "homes/uploads/logo_dark.png" %>
      </div>
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
    </div> -->
    <header class="header header--blue header--top">
      <div class="container">
        <div class="topbar">
          <ul class="topbar__contact">
            <li><span class="ion-ios-telephone-outline topbar__icon"></span><a href="tel:8801234567" class="topbar__link">(880)-123-4567</a></li>
            <li><span class="ion-ios-email-outline topbar__icon"></span><a href="mailto:ReaLand@support.com" class="topbar__link">ReaLand@support.com</a></li>
          </ul>
          <!-- .topbar__contact -->
          <ul class="topbar__user">
            <span class="ion-ios-person-outline topbar__user-icon"></span>
            <li><a href="sign_up.html" class="topbar__link">Sign In</a></li>
          </ul>
        </div>
        <!-- .topbar -->
        <div class="header__main">
          <div class="header__logo">
            <a href="index.html">
              <h1 class="screen-reader-text">Realand</h1>
              <%= image_tag "homes/uploads/logo.png" %>
            </a>
          </div>
          <!-- .header__main -->
          <div class="nav-mobile">
            <a href="#" class="nav-toggle">
            <span></span>
            </a><!-- .nav-toggle -->
          </div>
          <!-- .nav-mobile -->
          <div class="header__menu header__menu--v1">
            <ul class="header__nav">
              <li class="header__nav-item">
                <a href="#" class="header__nav-link">Home</a>
                <ul>
                  <li><a href="index.html">Home 1</a></li>
                  <li><a href="index_2.html">Home 2</a></li>
                  <li><a href="index_3.html">Home 3</a></li>
                  <li><a href="index_4.html">Home 4</a></li>
                  <li><a href="index_5.html">Home 5</a></li>
                </ul>
              </li>
              <li class="header__nav-item">
                <a href="#" class="header__nav-link">Listing</a>
                <ul>
                  <li><a href="listing_1.html">Listing List 1</a></li>
                  <li><a href="listing_5.html">Listing List 2</a></li>
                  <li><a href="listing_2.html">Listing Grid</a></li>
                  <li><a href="listing_3.html">Listing Full Map</a></li>
                  <li><a href="listing_4.html">Listing Half Map</a></li>
                </ul>
              </li>
              <li class="header__nav-item">
                <a href="#" class="header__nav-link">Property</a>
                <ul>
                  <li><a href="single_property_1.html">Single Property 1</a></li>
                  <li><a href="single_property_2.html">Single Property 2</a></li>
                  <li><a href="single_property_3.html">Single Property 3</a></li>
                </ul>
              </li>
              <li class="header__nav-item">
                <a href="#" class="header__nav-link">Pages</a>
                <ul>
                  <li>
                    <a href="#">My Account</a>
                    <ul>
                      <li><a href="my_profile.html">My Profile</a></li>
                      <li><a href="my_property.html">My Property</a></li>
                      <li><a href="bookmarked_listing.html">Bookmarked Listing</a></li>
                      <li><a href="change_password.html">Change Password</a></li>
                    </ul>
                  </li>
                  <li><a href="about_us.html">About Us</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="agents.html">Agent List</a></li>
                  <li><a href="agents_single.html">Agent Single</a></li>
                  <li><a href="coming_soon.html">Coming Soon</a></li>
                  <li><a href="404.html">404 Page</a></li>
                  <li><a href="package.html">Packages</a></li>
                  <li><a href="sign_up.html">Login/Signup</a></li>
                </ul>
              </li>
              <li class="header__nav-item"><a href="blog.html" class="header__nav-link">Blog</a></li>
            </ul>
            <!-- .header__nav -->
            <ul class="topbar__user">
              <li><a href="sign_up.html" class="topbar__link">Sign In</a></li>
              <li><a href="sign_up.html" class="topbar__link">Join</a></li>
            </ul>
          </div>
          <!-- .header__menu -->
          <a href="submit_property.html" class="header__cta">&plus; Submit Property</a>
        </div>
        <!-- .header__main -->
      </div>
      <!-- .container -->
    </header>
    <!-- .header -->
    <section class="main-slider">
      <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="realand-slider-1" data-source="gallery" style="margin:0px auto;background:rgba(0,0,0,0.5);padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.4.6 fullwidth mode -->
        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6">
          <ul>
            <!-- SLIDE  -->
            <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="<%= image_path 'homes/revslider/main_slider_2-1-100x50.jpg' %>" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="" alt="" title="main_slider_1" width="1920" height="820" data-lazyload="<%= image_path 'homes/revslider/main_slider_2-1.jpeg' %>" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
              <!-- LAYER NR. 1 -->
              <div class="tp-caption   tp-resizeme" id="slide-1-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-60','-40']" data-fontsize="['18','18','16','14']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 400; color: #f3f3f3; letter-spacing: 0px;font-family:Roboto;">THE BEST REAL ESTATE DEALS </div>
              <!-- LAYER NR. 2 -->
              <div class="tp-caption   tp-resizeme" id="slide-1-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['60','60','40','26']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Raleway;">Discover Your Perfect Home </div>
              <!-- LAYER NR. 3 -->
              <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" data-lity class="tp-caption   tp-resizeme" target="_self" id="slide-1-layer-7" data-x="['center','center','center','center']" data-hoffset="['6','6','6','6']" data-y="['top','top','top','top']" data-voffset="['480','380','300','230']" data-fontsize="['60','60','36','36']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-actions='' data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;text-decoration: none;"><i class="fa fa-play-circle-o"></i> </a>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-12" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="<%= image_path 'homes/revslider/main_slider_3-1-100x50.jpeg' %>" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="" alt="" title="Main Slider 1-2" width="1920" height="820" data-lazyload="<%= image_path 'homes/revslider/main_slider_3-1.jpeg' %>" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
              <!-- LAYER NR. 4 -->
              <div class="tp-caption   tp-resizeme" id="slide-12-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-60','-40']" data-fontsize="['18','18','16','14']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 400; color: #f3f3f3; letter-spacing: 0px;font-family:Roboto;">THE BEST REAL ESTATE DEALS </div>
              <!-- LAYER NR. 5 -->
              <div class="tp-caption   tp-resizeme" id="slide-12-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['60','60','40','26']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Raleway;">Discover Your Perfect Home </div>
              <!-- LAYER NR. 6 -->
              <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" data-lity class="tp-caption   tp-resizeme" target="_self" id="slide-12-layer-7" data-x="['center','center','center','center']" data-hoffset="['6','6','6','6']" data-y="['top','top','top','top']" data-voffset="['480','380','300','230']" data-fontsize="['60','60','36','36']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-actions='' data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;text-decoration: none;"><i class="fa fa-play-circle-o"></i> </a>
            </li>
          </ul>
          <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
      </div>
      <!-- END REVOLUTION SLIDER -->
      <section class="main-search main-search--absolute">
        <div class="container">
          <div class="main-search__container">
            <section class="listing-search">
              <form action="index.html" method="get" class="listing-search__form">
                <div class="row">
                  <div class="col-sm-3">
                    <label for="listing-type" class="listing-search__label">Listing Types</label>
                    <select name="listing-type" id="listing-type" class="ht-field">
                      <option value="All" selected>All Listing Type</option>
                      <option value="For Rent">For Rent</option>
                      <option value="For Sale">For Sale</option>
                      <option value="Open House">Open House</option>
                    </select>
                  </div>
                  <!-- .col -->
                  <div class="col-sm-3">
                    <label for="offer-type" class="listing-search__label">Offer Type</label>
                    <select name="offer-type" id="offer-type" class="ht-field">
                      <option value="All" selected>All Offer Type</option>
                      <option value="For Rent">For Rent</option>
                      <option value="For Sale">For Sale</option>
                      <option value="Open House">Open House</option>
                    </select>
                  </div>
                  <!-- .col -->
                  <div class="col-sm-3">
                    <label for="city" class="listing-search__label">Select Your City</label>
                    <select name="city" id="city" class="ht-field">
                      <option value="All" selected>All City</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="CT">Connecticut</option>
                    </select>
                  </div>
                  <!-- .col -->
                  <div class="col-sm-3">
                    <label for="listing-btn" class="listing-search__label listing-search__label--hidden">Advanced Search</label>
                    <a href="#" id="listing-btn" class="listing-search__btn">Advanced Search</a>
                  </div>
                  <!-- .col -->
                </div>
                <!-- row -->
                <div class="listing-search__advance">
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="keywords" class="listing-search__label">Keyword</label>
                      <input type="text" id="keywords" class="listing-search__field" placeholder="Type your keywords...">
                    </div>
                    <!-- .col -->
                    <div class="col-sm-3">
                      <label for="min-price" class="listing-search__label">Min Price</label>
                      <select name="min-price" id="min-price" class="ht-field">
                        <option value="Unlimited" selected>Unlimited</option>
                        <option value="$1,000">$1,000</option>
                        <option value="$10,000">$10,000</option>
                        <option value="$20,000">$20,000</option>
                        <option value="$50,000">$50,000</option>
                        <option value="$100,000">$100,000</option>
                      </select>
                    </div>
                    <!-- .col -->
                    <div class="col-sm-3">
                      <label for="bedrooms" class="listing-search__label">Bedrooms</label>
                      <select name="bedrooms" id="bedrooms" class="ht-field">
                        <option value="Any" selected>Any</option>
                        <option value="1">01 bedroom(s)</option>
                        <option value="2">02 bedroom(s)</option>
                        <option value="3">03 bedroom(s)</option>
                        <option value="4">04 bedroom(s)</option>
                        <option value="5">05 bedroom(s)</option>
                        <option value="6">06 bedroom(s)</option>
                        <option value="7">07 bedroom(s)</option>
                      </select>
                    </div>
                    <!-- .col -->
                    <div class="col-sm-3">
                      <label for="bathrooms" class="listing-search__label">Bathrooms</label>
                      <select name="bathrooms" id="bathrooms" class="ht-field">
                        <option value="Any" selected>Any</option>
                        <option value="1">01 bathroom(s)</option>
                        <option value="2">02 bathroom(s)</option>
                        <option value="3">03 bathroom(s)</option>
                        <option value="4">04 bathroom(s)</option>
                        <option value="5">05 bathroom(s)</option>
                        <option value="6">06 bathroom(s)</option>
                        <option value="7">07 bathroom(s)</option>
                      </select>
                    </div>
                    <!-- .col -->
                    <div class="col-sm-3">
                      <label for="property-size" class="listing-search__label">Property Size</label>
                      <div class="listing-search__amount">
                        <label for="property-amount">Sq.Ft</label>
                        <span id="property-amount"></span>
                      </div>
                      <!-- listing-search__amount -->
                      <div id="property-size" class="listing-search__slider listing-search__property-size"></div>
                    </div>
                    <!-- .col -->
                    <div class="col-sm-3">
                      <label for="lot-size" class="listing-search__label">Lot Size</label>
                      <div class="listing-search__amount">
                        <label for="lot-amount">Sq.Ft</label>
                        <span id="lot-amount"></span>
                      </div>
                      <!-- .listing-search__amount -->
                      <div id="lot-size" class="listing-search__slider listing-search__lot-size"></div>
                    </div>
                    <!-- .col -->
                    <div class="col-sm-3">
                      <label for="garages" class="listing-search__label">Garages</label>
                      <select name="garages" id="garages" class="ht-field">
                        <option value="Any" selected>Any</option>
                        <option value="1">01 garage(s)</option>
                        <option value="2">02 garage(s)</option>
                        <option value="3">03 garage(s)</option>
                        <option value="4">04 garage(s)</option>
                      </select>
                    </div>
                    <!-- .col -->
                    <div class="col-sm-3">
                      <label for="tenure" class="listing-search__label">Tenure</label>
                      <select name="tenure" id="tenure" class="ht-field">
                        <option value="Any" selected>Any</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                    <!-- .col -->
                  </div>
                  <!-- .row -->
                  <div class="listing-search__more">
                    <a class="listing-search__more-btn" href="#">Additional Features</a>
                    <div class="listing-search__more-inner">
                      <div class="row">
                        <div class="col-sm-6 col-md-3">
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="parking-garage" id="parking-garage" class="listing-search__more-field">
                            <label for="parking-garage" class="listing-search__more-label">Parking/Garage (26)</label>
                          </div>
                          <!-- .listing-search__more-wrapper -->
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="balcony-terrace" id="balcony-terrace" class="listing-search__more-field">
                            <label for="balcony-terrace" class="listing-search__more-label">Balcony/Terrace (24)</label>
                          </div>
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="garden" id="garden" class="listing-search__more-field">
                            <label for="garden" class="listing-search__more-label">Garden (26)</label>
                          </div>
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="porter-security" id="porter-security" class="listing-search__more-field">
                            <label for="porter-security" class="listing-search__more-label">Porter/Security (24)</label>
                          </div>
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="fireplace" id="fireplace" class="listing-search__more-field">
                            <label for="fireplace" class="listing-search__more-label">Fireplace (23)</label>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="rural-secluded" id="rural-secluded" class="listing-search__more-field">
                            <label for="rural-secluded" class="listing-search__more-label">Rural/Secluded (21)</label>
                          </div>
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="air-conditioning" id="air-conditioning" class="listing-search__more-field">
                            <label for="air-conditioning" class="listing-search__more-label">Air Conditioning (22)</label>
                          </div>
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="lawn" id="lawn" class="listing-search__more-field">
                            <label for="lawn" class="listing-search__more-label">Lawn (4)</label>
                          </div>
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="swimming-pool" id="swimming-pool" class="listing-search__more-field">
                            <label for="swimming-pool" class="listing-search__more-label">Swimming Pool (4)</label>
                          </div>
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="barbecue" id="barbecue" class="listing-search__more-field">
                            <label for="barbecue" class="listing-search__more-label">Barbecue (23)</label>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="microwave" id="microwave" class="listing-search__more-field">
                            <label for="microwave" class="listing-search__more-label">Microwave (24)</label>
                          </div>
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="tv-cable" id="tv-cable" class="listing-search__more-field">
                            <label for="tv-cable" class="listing-search__more-label">TV Cable (5)</label>
                          </div>
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="washer" id="washer" class="listing-search__more-field">
                            <label for="washer" class="listing-search__more-label">Washer (24)</label>
                          </div>
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="outdoor-shower" id="outdoor-shower" class="listing-search__more-field">
                            <label for="outdoor-shower" class="listing-search__more-label">Outdoor Shower (22)</label>
                          </div>
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="gym" id="gym" class="listing-search__more-field">
                            <label for="gym" class="listing-search__more-label">Gym (4)</label>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="window-coverings" id="window-coverings" class="listing-search__more-field">
                            <label for="window-coverings" class="listing-search__more-label">Window Coverings (21)</label>
                          </div>
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="dryer" id="dryer" class="listing-search__more-field">
                            <label for="dryer" class="listing-search__more-label">Dryer (21)</label>
                          </div>
                          <div class="listing-search__more-wrapper">
                            <input type="checkbox" name="laundry" id="laundry" class="listing-search__more-field">
                            <label for="laundry" class="listing-search__more-label">Laundry (24)</label>
                          </div>
                        </div>
                      </div>
                      <!-- .row -->
                    </div>
                    <!-- .listing-search__more-inner -->
                  </div>
                  <!-- .listing-search__more -->
                </div>
                <!-- .listing-search__advance -->
              </form>
              <!-- .listing-search__form -->
            </section>
            <!-- .listing-search -->
            <section class="listing-sort">
              <div class="listing-sort__inner">
                <ul class="listing-sort__list">
                  <li class="listing-sort__item"><a href="#" class="listing-sort__link"><i class="fa fa-th-list" aria-hidden="true" class="listing-sort__icon"></i></a></li>
                  <li class="listing-sort__item"><a href="#" class="listing-sort__link"><i class="fa fa-th" aria-hidden="true" class="listing-sort__icon"></i></a></li>
                  <li class="listing-sort__item"><a href="#" class="listing-sort__link listing-sort__link--active"><i class="fa fa-th-large" aria-hidden="true" class="listing-sort__icon"></i></a></li>
                </ul>
                <span class="listing-sort__result">1-9 of 25 results</span>
                <p class="listing-sort__sort">
                  <label for="sort-type" class="listing-sort__label"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Sort by </label>
                  <select name="sort-type" id="sort-type" class="ht-field listing-sort__field">
                    <option value="default">Default</option>
                    <option value="low-price">Price (Low to High)</option>
                    <option value="high-price">Price (High to Low)</option>
                    <option value="featured">Featured</option>
                  </select>
                </p>
              </div>
              <!-- .listing-sort__inner -->
            </section>
            <!-- .listing-sort -->
          </div>
          <!-- .main-search__container -->
        </div>
        <!-- .container -->
      </section>
      <!-- .main-search -->
    </section>
    <!-- .main-slider -->
    <section class="item-grid">
      <div class="container">
        <div class="row">
          <div class="col-md-6 item-grid__container">
            <div class="listing">
              <div class="item-grid__image-container">
                <a href="single_property_1.html">
                  <div class="item-grid__image-overlay"></div>
                  <!-- .item-grid__image-overlay -->
                  <%= image_tag "homes/uploads/real_house_luxury_villa.jpg", class: "listing__img" %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                </a>
              </div>
              <!-- .item-grid__image-container -->
              <div class="item-grid__content-container">
                <div class="listing__content">
                  <div class="listing__header">
                    <div class="listing__header-primary">
                      <h3 class="listing__title"><a href="single_property_1.html">Real House Luxury Villa</a></h3>
                      <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                    </div>
                    <!-- .listing__header-primary -->
                    <p class="listing__price">$2,285,500</p>
                  </div>
                  <!-- .listing__header -->
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul>
                    <!-- .listing__stats -->
                    <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                  </div>
                  <!-- .listing__details -->
                </div>
                <!-- .listing-content -->
              </div>
              <!-- .item-grid__content-container -->
            </div>
            <!-- .listing -->
          </div>
          <!-- .col -->
          <div class="col-md-6 item-grid__container">
            <div class="listing">
              <div class="item-grid__image-container">
                <a href="single_property_1.html">
                  <div class="item-grid__image-overlay"></div>
                  <!-- .item-grid__image-overlay -->
                  <%= image_tag "homes/uploads/dream_house_take_away.jpg", class: "listing__img" %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                </a>
              </div>
              <!-- item-grid__image-container -->
              <div class="item-grid__content-container">
                <div class="listing__content">
                  <div class="listing__header">
                    <div class="listing__header-primary">
                      <h3 class="listing__title"><a href="single_property_1.html">House Take Away</a></h3>
                      <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                    </div>
                    <!-- .listing__header-primary -->
                    <p class="listing__price">$2,285,500</p>
                  </div>
                  <!-- .listing__header -->
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul>
                    <!-- .listing__stats -->
                    <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                  </div>
                  <!-- .listing__details -->
                </div>
                <!-- .listing-content -->
              </div>
              <!-- .item-grid__content-container -->
            </div>
            <!-- .listing -->
          </div>
          <!-- .col -->
          <div class="col-md-6 item-grid__container">
            <div class="listing">
              <div class="item-grid__image-container">
                <a href="single_property_1.html">
                  <div class="item-grid__image-overlay"></div>
                  <!-- .item-grid__image-overlay -->
                  <%= image_tag "homes/uploads/weston_hightpointe_place.jpg", class: "listing__img" %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                </a>
              </div>
              <!-- .item-grid__image-container -->
              <div class="item-grid__content-container">
                <div class="listing__content">
                  <div class="listing__header">
                    <div class="listing__header-primary">
                      <h3 class="listing__title"><a href="single_property_1.html">Weston Hightpointe Place</a></h3>
                      <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                    </div>
                    <!-- .listing__header-primary -->
                    <p class="listing__price">$2,285,500</p>
                  </div>
                  <!-- .listing__header -->
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul>
                    <!-- .listing__stats -->
                    <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                  </div>
                  <!-- .listing__details -->
                </div>
                <!-- .listing-content -->
              </div>
              <!-- .item-grid__content-container -->
            </div>
            <!-- .listing -->
          </div>
          <!-- .col -->
          <div class="col-md-6 item-grid__container">
            <div class="listing">
              <div class="item-grid__image-container">
                <a href="single_property_1.html">
                  <div class="item-grid__image-overlay"></div>
                  <!-- .item-grid__image-overlay -->
                  <%= image_tag "homes/uploads/sunhouse_apartment_c21.jpg", class: "listing__img" %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                </a>
              </div>
              <!-- .item-grid__image-container -->
              <div class="item-grid__content-container">
                <div class="listing__content">
                  <div class="listing__header">
                    <div class="listing__header-primary">
                      <h3 class="listing__title"><a href="single_property_1.html">Sunhouse Apartment C21</a></h3>
                      <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                    </div>
                    <!-- .listing__header-primary -->
                    <p class="listing__price">$2,285,500</p>
                  </div>
                  <!-- .listing__header -->
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul>
                    <!-- .listing__stats -->
                    <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                  </div>
                  <!-- .listing__details -->
                </div>
                <!-- .listing-content -->
              </div>
              <!-- .item-grid__content-container -->
            </div>
            <!-- .listing -->
          </div>
          <!-- .col -->
          <div class="col-md-6 item-grid__container">
            <div class="listing">
              <div class="item-grid__image-container">
                <a href="single_property_1.html">
                  <div class="item-grid__image-overlay"></div>
                  <!-- .item-grid__image-overlay -->
                  <%= image_tag "homes/uploads/castalia_shibakoen.jpg", class: "listing__img" %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                </a>
              </div>
              <!-- item-grid__image-container -->
              <div class="item-grid__content-container">
                <div class="listing__content">
                  <div class="listing__header">
                    <div class="listing__header-primary">
                      <h3 class="listing__title"><a href="single_property_1.html">Castalia Shibakoen</a></h3>
                      <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                    </div>
                    <!-- .listing__header-primary -->
                    <p class="listing__price">$2,285,500</p>
                  </div>
                  <!-- .listing__header -->
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul>
                    <!-- .listing__stats -->
                    <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                  </div>
                  <!-- .listing__details -->
                </div>
                <!-- .listing-content -->
              </div>
              <!-- .item-grid__content-container -->
            </div>
            <!-- .listing -->
          </div>
          <!-- .col -->
          <div class="col-md-6 item-grid__container">
            <div class="listing">
              <div class="item-grid__image-container">
                <a href="single_property_1.html">
                  <div class="item-grid__image-overlay"></div>
                  <!-- .item-grid__image-overlay -->
                  <%= image_tag "homes/uploads/residia_nishi_azabu.jpg", class: "listing__img" %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                </a>
              </div>
              <!-- .item-grid__image-container -->
              <div class="item-grid__content-container">
                <div class="listing__content">
                  <div class="listing__header">
                    <div class="listing__header-primary">
                      <h3 class="listing__title"><a href="single_property_1.html">Residia Nishi Azabu</a></h3>
                      <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                    </div>
                    <!-- .listing__header-primary -->
                    <p class="listing__price">$2,285,500</p>
                  </div>
                  <!-- .listing__header -->
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul>
                    <!-- .listing__stats -->
                    <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                  </div>
                  <!-- .listing__details -->
                </div>
                <!-- .listing-content -->
              </div>
              <!-- .item-grid__content-container -->
            </div>
            <!-- .listing -->
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
        <div class="item-grid--centered">
          <a href="#" class="item-grid__load-more">Load More</a>
        </div>
      </div>
      <!-- .container -->
    </section>
    <!-- .item-grid-2 -->
    <section class="features">
      <div class="features__overlay">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="feature">
                <%= image_tag "homes/icon_map.png", class: "feature__icon" %>
                <h3 class="feature__title">Freshest Market Info</h3>
                <p class="feature__desc">
                  Our extensive database of listings and market info provide the most accurate.
                </p>
              </div>
              <!-- .feature -->
            </div>
            <!-- .col -->
            <div class="col-sm-4">
              <div class="feature">
                <%= image_tag "homes/icon_search.png", class: "feature__icon" %>
                <h3 class="feature__title">Top Local Agents</h3>
                <p class="feature__desc">
                  Our extensive database of listings and market info provide the most accurate.
                </p>
              </div>
              <!-- .feature -->
            </div>
            <!-- .col -->
            <div class="col-sm-4">
              <div class="feature">
                <%= image_tag "homes/icon_negotiation.png", class: "feature__icon" %>
                <h3 class="feature__title">Peace of Mind</h3>
                <p class="feature__desc">
                  Our extensive database of listings and market info provide the most accurate.
                </p>
              </div>
              <!-- .feature -->
            </div>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
      <!-- .features__overlay -->
    </section>
    <!-- .features -->
    <section class="featured-listing">
      <div class="container">
        <h2 class="section__title">Featured Listing</h2>
        <div class="row">
          <div class="col-md-4 featured-listing__container">
            <div class="listing">
              <div class="item-grid__image-container">
                <a href="single_property_1.html">
                  <div class="item-grid__image-overlay"></div>
                  <!-- .item-grid__image-overlay -->
                  <%= image_tag "homes/uploads/real_house_luxury_villa.jpg", class: "listing__img" %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                </a>
              </div>
              <!-- item-grid__image-container -->
              <div class="item-grid__content-container">
                <div class="listing__content">
                  <h3 class="listing__title"><a href="single_property_1.html">Real House Luxury Villa</a></h3>
                  <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                  <p class="listing__price">$2,285,500</p>
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul>
                    <!-- .listing__stats -->
                    <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                  </div>
                  <!-- .listing__details -->
                </div>
                <!-- .listing-content -->
              </div>
              <!-- .item-grid__content-container -->
            </div>
            <!-- .listing -->
          </div>
          <!-- .col -->
          <div class="col-md-4 featured-listing__container">
            <div class="listing">
              <div class="item-grid__image-container">
                <a href="single_property_1.html">
                  <div class="item-grid__image-overlay"></div>
                  <!-- .item-grid__image-overlay -->
                  <%= image_tag "homes/uploads/dream_house_take_away.jpg", class: "listing__img" %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                </a>
              </div>
              <!-- item-grid__image-container -->
              <div class="item-grid__content-container">
                <div class="listing__content">
                  <h3 class="listing__title"><a href="single_property_1.html">House Take Away</a></h3>
                  <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                  <p class="listing__price">$85,500/ <span class="listing__price--small">Month</span></p>
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul>
                    <!-- .listing__stats -->
                    <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                  </div>
                  <!-- .listing__details -->
                </div>
                <!-- .listing-content -->
              </div>
              <!-- .item-grid__content-container -->
            </div>
            <!-- .listing -->
          </div>
          <!-- .col -->
          <div class="col-md-4 featured-listing__container">
            <div class="listing">
              <div class="item-grid__image-container">
                <a href="single_property_1.html">
                  <div class="item-grid__image-overlay"></div>
                  <!-- .item-grid__image-overlay -->
                  <%= image_tag "homes/uploads/weston_hightpointe_place.jpg", class: "listing__img" %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                </a>
              </div>
              <!-- .item-grid__image-container -->
              <div class="item-grid__content-container">
                <div class="listing__content">
                  <h3 class="listing__title"><a href="single_property_1.html">Weston Hightpointe Place</a></h3>
                  <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                  <p class="listing__price"><a href="#">Request Price</a></p>
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul>
                    <!-- .listing__stats -->
                    <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                  </div>
                  <!-- .listing__details -->
                </div>
                <!-- .listing-content -->
              </div>
              <!-- .item-grid__content-container -->
            </div>
            <!-- .listing -->
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </section>
    <!-- .featured-listing -->
    <section class="testimonial">
      <div class="container">
        <div class="testimonial__container">
          <div class="row">
            <div class="col-md-6">
              <div class="testimonial__video">
                <%= image_tag "homes/uploads/testimonial_1.jpg", class: "testimonial__video-img" %>
                <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" data-lity>
                <i class="fa fa-play-circle-o play-icon" aria-hidden="true"></i>
                </a>
                <div class="testimonial__overlay"></div>
                <!-- .testimonial__overlay -->
              </div>
              <!-- .testimonial__video -->
            </div>
            <!-- .col -->
            <div class="col-md-6">
              <div class="testimonial__content">
                <h2 class="section__title">2000&plus; Happy Clients</h2>
                <p class="testimonial__desc">Realand has recently sold our house and home. We have found that it was one of the best investments we could have made, as nothing was a problem to her, and it certainly took the worry of marketing and selling off our mind, as ReaLand had everything under control.</p>
                <div class="testimonial__customer">
                  <%= image_tag "homes/uploads/testimonial_avatar.png" %>
                  <div class="testimonial__customer-profile">
                    <h4 class="testimonial__customer-name">Karty & Will</h4>
                    <p class="testimonial__customer-company">Sunderland, Haintheme</p>
                    <%= image_tag "homes/rating.png" %>
                  </div>
                  <!-- .testimonial__customer-profile -->
                </div>
                <!-- .testimonial__customer -->
              </div>
              <!-- .testimonial__content -->
            </div>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
        <!-- .testimonial__container -->
      </div>
      <!-- .container -->
    </section>
    <!-- .testimonial -->
    <section class="partners">
      <div class="container">
        <ul class="partners__list">
          <li><%= image_tag "homes/uploads/partner1.jpg" %></li>
          <li><%= image_tag "homes/uploads/partner2.jpg" %></li>
          <li><%= image_tag "homes/uploads/partner3.jpg" %></li>
          <li><%= image_tag "homes/uploads/partner4.jpg" %></li>
          <li><%= image_tag "homes/uploads/partner5.jpg" %></li>
        </ul>
      </div>
    </section>
    <section class="news">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="news__single">
              <div class="news__time">
                <span class="news__date">26</span>
                <span class="news__my">July, 2017</span>
              </div>
              <div class="news__main">
                <h3 class="news__title"><a href="blog_single.html">Releases 2Q 2017 Tokyo, Japan</a></h3>
                <span class="news__meta"><span class="ion-ios-chatboxes-outline"></span> 3 Comment(s)</span>
                <p class="news__excerpt">The upper level has three bedrooms, with the main bedroom having built-in wardrobes and an ensuite with...</p>
                <a href="blog_single.html" class="news__readmore">&plus; Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="news__single">
              <div class="news__time">
                <span class="news__date">27</span>
                <span class="news__my">July, 2017</span>
              </div>
              <div class="news__main">
                <h3 class="news__title"><a href="blog_single.html">Releases 2Q 2017 Tokyo, Japan</a></h3>
                <span class="news__meta"><span class="ion-ios-chatboxes-outline"></span> 3 Comment(s)</span>
                <p class="news__excerpt">The upper level has three bedrooms, with the main bedroom having built-in wardrobes and an ensuite with...</p>
                <a href="blog_single.html" class="news__readmore">&plus; Read More</a>
              </div>
              <!-- .news__main-->
            </div>
            <!-- .news__single -->
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </section>
    <!-- .news -->
    <section class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-6 newsletter__content">
            <%= image_tag "homes/icon_mail.png", class: "newsletter__icon" %>
            <div class="newsletter__text-content">
              <h2 class="newsletter__title">Newsletter</h2>
              <p class="newsletter__desc">Sign up for our newsletter to get up-to-date from us</p>
            </div>
          </div>
          <!-- .col -->
          <div class="col-md-6">
            <form action="index.html" class="newsletter__form">
              <input type="email" class="newsletter__field" placeholder="Enter Your E-mail">
              <button type="submit" class="newsletter__submit">Subscribe</button>
            </form>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </section>
    <!-- .newsletter -->
    <footer class="footer">
      <div class="footer__links">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-4 footer__links-single">
              <h3 class="footer__title">Contact Us</h3>
              <ul class="footer__list">
                <li><span class="footer--highlighted">Address:</span> <a href="#">200 East 65th Street 17NO, New York</a></li>
                <li><span class="footer--highlighted">Email:</span> <a href="mailto:ReaLand@support.com">ReaLand@support.com</a></li>
                <li><span class="footer--highlighted">Phone:</span> <a href="tel:+8802993999">(880)-288-3999</a></li>
                <li><span class="footer--highlighted">Fax:</span> <a href="#">(880)-288-3689</a></li>
              </ul>
              <!-- .footer__list -->
            </div>
            <!-- .col -->
            <div class="col-sm-4 col-md-2 footer__links-single">
              <h3 class="footer__title">Buy</h3>
              <ul class="footer__list">
                <li><a href="#">Homes for Sale</a></li>
                <li><a href="#">Open Houses</a></li>
                <li><a href="#">New Listings</a></li>
                <li><a href="#">Recently Reduced</a></li>
                <li><a href="#">Off-Market Homes</a></li>
              </ul>
              <!-- .footer__list -->
            </div>
            <!-- .col -->
            <div class="col-sm-4 col-md-2 footer__links-single">
              <h3 class="footer__title">Sell</h3>
              <ul class="footer__list">
                <li><a href="#">Sell Your Home</a></li>
                <li><a href="#">Get a Home Valuation</a></li>
                <li><a href="#">Local Home Prices</a></li>
                <li><a href="#">Guides & Rules</a></li>
                <li><a href="#">Others</a></li>
              </ul>
              <!-- .footer__list -->
            </div>
            <!-- .col -->
            <div class="col-sm-4 col-md-2 footer__links-single">
              <h3 class="footer__title">My ReaLand</h3>
              <ul class="footer__list">
                <li><a href="#">Favorites</a></li>
                <li><a href="#">Save Searches</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Join Us</a></li>
              </ul>
              <!-- .footer__list -->
            </div>
            <!-- .col -->
            <div class="col-sm-4 col-md-2 footer__links-single">
              <h3 class="footer__title">ReaLand Estate</h3>
              <ul class="footer__list">
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Management Team</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
              <!-- .footer__list -->
            </div>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
      <!-- .footer__links -->
      <div class="footer__main">
        <div class="container">
          <div class="footer__logo">
            <h1 class="screen-reader-text">ReaLand</h1>
            <%= image_tag "homes/uploads/logo_dark.png" %>
          </div>
          <!-- .footer__logo -->
          <p class="footer__desc">ReaLand is made for buying and selling houses faster, easier and customized for you.</p>
          <ul class="footer__social">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          </ul>
          <!-- .footer__social -->
        </div>
        <!-- .container -->
      </div>
      <!-- .footer__main -->
      <div class="footer__copyright">
        <div class="container">
          <div class="footer__copyright-inner">
            <p class="footer__copyright-desc">
              &copy; 2017 <span class="footer--highlighted">ReaLand</span> Real Estate. All Right Reserved.
            </p>
            <ul class="footer__copyright-list">
              <li><a href="#">Neighborhood Guide</a></li>
              <li><a href="#">Market Trends</a></li>
              <li><a href="#">Schools</a></li>
              <li><a href="#">Real Estate Tips</a></li>
            </ul>
          </div>
          <!-- .footer__copyright-inner -->
        </div>
        <!-- .container -->
      </div>
      <!-- .footer__copyright -->
    </footer>
    <!-- .footer -->
    <a href="#" class="back-to-top"><span class="ion-ios-arrow-up"></span></a>
    </div>
    <%= yield %>
  </body>
</html>
